*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
img{
    display: block;
}
.collection-item a {
    color: #9C27B0;
}

#no-contact{
    display: none;
}